@model ControllRR.Presentation.ViewModels.MaintenanceViewModel;
 @using ControllRR.Domain.Enums
@{
    ViewData["Title"] = "Alterar  Manutenção";
}
   <div class="mt-4">
         <a asp-action="Index" class="btn btn-primary">Voltar</a>
    </div>
<div class="row">
<div class="col-md-12">
<br>
<div class="container">
<div class="row">
<div class="col-12">
<div class="card">
<div class="card-header text-center bg-dark text-white">
<div class="row align-items-center">
<div class="col-md-12">
<h5>Editar Manutenção:: @Html.DisplayFor(model => model.MaintenanceDto.MaintenanceNumber)</h5>
</div>
</div>
</div>
<div class="card mt-4">
<div class="card-header">Data::
</div>
<div class="card-body">
<div class="row">
<form asp-controller="Maintenances" asp-action="ChangeMaintenance" method="post">
    <input type="hidden" asp-for="MaintenanceDto.Id">
    <input type="hidden" asp-for="MaintenanceDto.MaintenanceNumber">
    <div class="row">
     <div class="col">
    <label asp-for="MaintenanceDto.OpenDate"></label>
    <input asp-for="MaintenanceDto.OpenDate" class="form-control input-sm" readonly />
    <span asp-validation-for="MaintenanceDto.OpenDate" class="text-danger"></span>
    </div>
    <div class="col">
    <label asp-for="MaintenanceDto.SimpleDesc"></label>
    <input asp-for="MaintenanceDto.SimpleDesc" class="form-control input-sm" readonly />
    <span asp-validation-for="MaintenanceDto.SimpleDesc" class="text-danger"></span>
    </div>
    <div class="col">
    <label asp-for="MaintenanceDto.CloseDate"></label>
    <input asp-for="MaintenanceDto.CloseDate" class="form-control input-sm" />
    <span asp-validation-for="MaintenanceDto.CloseDate" class="text-danger"></span>
    </div> 
    <div class="col">
   <label asp-for="MaintenanceDto.User" class="control-label"></label>
   <select asp-for="MaintenanceDto.UserId" asp-items="@(new SelectList(Model.UserDto, "Id", "Name" ))" class="form-control"></select>
    </div>
     <div class="col">
    <label asp-for="MaintenanceDto.DeviceId"></label>
    <input asp-for="MaintenanceDto.DeviceId" class="form-control input-sm"  />
    <span asp-validation-for="MaintenanceDto.DeviceId" class="text-danger"></span>
    </div>
    
    <div class="col">
     <label asp-for="MaintenanceDto.Status" class="control-label"></label>
    <select asp-for="MaintenanceDto.Status" class="form-control" asp-items="@Html.GetEnumSelectList<MaintenanceStatus>()"></select>
    </div>
   <div class="form-group">
   <label asp-for="MaintenanceDto.Description"></label>
    <textarea asp-for="MaintenanceDto.Description" class="form-control" rows="14"></textarea>
    <span asp-validation-for="MaintenanceDto.Description" class="text-danger"></span>
  </div>
    </div>
    <div class="mt-4">
    <button type="submit" class="btn btn-success">Salvar</button>
    </div>
</form>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
       <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>

   
   
}