@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
<a href="/Admin">Admin Dashboard</a>
}